<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Twitter API mit Flask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Stefan Preusler">
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- Style Anpassungen -->
	<script src="https://stefan-preusler.de/static/style.css"></script>
</head>

<body>
<div class="container-narrow">
	<h1>Willkommen</h1>
	<h2>Bitte wählen Sie ein Keyword</h2>
    <form method="POST">
    <input name="text">
    <input type="submit">
    </form>
</div>
</body>

</html>
